---
layout: default
title: Blog
---
<div class="ui raised segments">
    {% for post in site.posts %}
    <div class="ui segment">
      <div class="ui items">
        <div class="item">
          <div class="ui tiny image">
            {% if post.categories[0] == "Programming" %}
            <img src="{{ site.baseurl }}/static/icons/algo.png">
            {% else %}
            <img src="{{ site.baseurl }}/static/icons/prog.png">
            {% endif %}
          </div>
          <div class="content">
            <a class="header">{{ post.title }}</a>
            <div class="description">
              <p>{{ post.excerpt }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
