---
layout: default
title: Blog
---
<!--Tools-->
<ul class="list-group">
  {% for post in site.categories["tools"] limit:3 %}
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="{{ site.url }}/static/icons/tools.png" >
      </div>
      <div class="media-body">
        <a href="{{ post.url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
        {{ post.excerpt }}
      </div>
    </div>
  </li>
  {% endfor %}
  <li class="list-group-item"><a href="{{ site.url }}/tools.html">More...</a></li>
</ul>
<!--Python-->
<ul class="list-group">
  {% for post in site.categories["python"] limit:3 %}
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="{{ site.url }}/static/icons/python.png" >
      </div>
      <div class="media-body">
        <a href="{{ post.url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
        {{ post.excerpt }}
      </div>
    </div>
  </li>
  {% endfor %}
  <li class="list-group-item"><a href="{{ site.url }}/python.html">More...</a></li>
</ul>
<!--Programming-->
<ul class="list-group">
  {% for post in site.categories["Programming"] limit:3 %}
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="{{ site.url }}/static/icons/prog.png" >
      </div>
      <div class="media-body">
        <a href="{{ post.url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
        {{ post.excerpt }}
      </div>
    </div>
  </li>
  {% endfor %}
  <li class="list-group-item"><a href="{{ site.url }}/prog.html">More...</a></li>
</ul>
<!--Algorithms-->
<ul class="list-group">
  {% for post in site.categories["Algorithms"] limit:3 %}
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="{{ site.url }}/static/icons/algo.png" >
      </div>
      <div class="media-body">
        <a href="{{ post.url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
        {{ post.excerpt }}
      </div>
    </div>
  </li>
  {% endfor %}
  <li class="list-group-item"><a href="{{ site.url }}/algo.html">More...</a></li>
</ul>
<!--Mathematics-->
<ul class="list-group">
  {% for post in site.categories["Mathematics"] limit:3 %}
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="{{ site.url }}/static/icons/math.png" >
      </div>
      <div class="media-body">
        <a href="{{ post.url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
        {{ post.excerpt }}
      </div>
    </div>
  </li>
  {% endfor %}
  <li class="list-group-item"><a href="{{ site.url }}/math.html">More...</a></li>
</ul>
<!--Machine Learning-->
<ul class="list-group">
  {% for post in site.categories["Machine Learning"] limit:3 %}
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="{{ site.url }}/static/icons/ml.png" >
      </div>
      <div class="media-body">
        <a href="{{ post.url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
        {{ post.excerpt }}
      </div>
    </div>
  </li>
  {% endfor %}
  <li class="list-group-item"><a href="{{ site.url }}/ml.html">More...</a></li>
</ul>
<!--Recommendation System-->
<ul class="list-group">
  {% for post in site.categories["Recommendation System"] limit:3 %}
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="{{ site.url }}/static/icons/reco.png" >
      </div>
      <div class="media-body">
        <a href="{{ post.url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
        {{ post.excerpt }}
      </div>
    </div>
  </li>
  {% endfor %}
  <li class="list-group-item"><a href="{{ site.url }}/recosys.html">More...</a></li>
</ul>
<!--Structure-->
<ul class="list-group">
  {% for post in site.categories["Structure"] limit:3 %}
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="{{ site.url }}/static/icons/struct.png" >
      </div>
      <div class="media-body">
        <a href="{{ post.url }}"><h4 class="media-heading">{{ post.title }}</h4></a>
        {{ post.excerpt }}
      </div>
    </div>
  </li>
  {% endfor %}
  <li class="list-group-item"><a href="{{ site.url }}/structure.html">More...</a></li>
</ul>
