<ul class="list-group">
  {% for post in site.posts limit: 8 %}
  <li class="list-group-item">
    <div class="media">
      <div class="media-left">
        {% assign image_url="" %}
        {% for catg in site.data.catgs %}
          {% if catg.name == post.categories[0] %}
            {% assign image_url=catg.image %}
            {% break %}
          {% endif %}
        {% endfor %}
        <img class="media-object" src="{{ site.url }}{{ image_url }}" >
      </div>
      <div class="media-body">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
