<div class="thumbnail">
  <img src="{{ site.baseurl }}/static/images/photo.jpg" alt="..." class="img-rounded">
  <div class="caption">
    <ul class="list-group" style="padding-top:20px">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-4">Name</div>
          <div class="col-md-8">{{ site.data.lord[0].name }}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-4">Loc</div>
          <div class="col-md-8">{{ site.data.lord[0].loc }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
