<!--
<div class="ui top fixed green inverted small menu">
  <a class="item" href="{{ site.url }}">Home </a>
  <a class="item" href="{{ site.url }}/algo.html">Algorithm </a>
  <a class="item" href="{{ site.url }}/ml.html">Machine Learning </a>
  <a class="item" href="{{ site.url }}/prog.html">Programming </a>
  <a class="item" href="{{ site.url }}/math.html">Mathmetics </a>
  <a class="item" href="{{ site.url }}/recosys.html">Recomendation System </a>
  <a class="item" href="{{ site.url }}/structure.html">Structure </a>
  <a class="item" href="{{ site.url }}/about.html">About </a>
</div>
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}">
        Home
      </a>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ site.url }}/algo.html">Algorithm</a></li>
          <li><a href="{{ site.url }}/ml.html">Machine Learning</a></li>
          <li><a href="{{ site.url }}/prog.html">Programming</a></li>
          <li><a href="{{ site.url }}/math.html">Mathmetics</a></li>
          <li><a href="{{ site.url }}/recosys.html">Recomendation System</a></li>
          <li><a href="{{ site.url }}/structure.html">Structure</a></li>
          <li><a href="{{ site.url }}/about.html">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
