<div class="ui top fixed green inverted small menu">
  <a class="item" href="{{ site.url }}">Home </a>
  <a class="item" href="{{ site.url }}">Algorithm </a>
  <a class="item" href="{{ site.url }}">Machine Learning </a>
  <a class="item" href="{{ site.url }}">Programming </a>
  <a class="item" href="{{ site.url }}">Mathmetics </a>
  <a class="item" href="{{ site.url }}">Recomendation System </a>
  <a class="item" href="{{ site.url }}">Structure </a>
  <a class="item" href="{{ site.url }}/about.html">About </a>
</div>
