// Classes
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
/* Set a background image by replacing the URL below */
body {
  background: url('/static/images/bk-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
