<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{ page.title | default: site.title }}</title>

    {% include mathjax_support %}
    {% include base.html %}
  </head>
  <body>
    <!--
    <section class="page-header">

      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      -->
      <!--
      <h1 class="project-name">Notebook of Hengxing</h1>
      <h2 class="project-tagline">Machine Learning, Algorithms, Programming</h2>
      <a href="/" class="btn">&nbsp;&nbsp;Home&nbsp;&nbsp;</a>
      {% if site.github.is_project_page %}
      -->
        <!--<a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>-->
      <!--
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}

    </section>
    -->
    {% include navbar.html %}

    <div class="row" style="padding-top: 20px">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-sm-12">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            {{ content }}
          </div>
          <div class="col-md-3 hidden-sm hidden-xs">
            {% include list-page-info.html %}
            {% include latest-posts-list.html %}
          </div>
        </div>
        {% include comment.html %}
        {% include footer.html %}
      </div>
      <div class="col-md-2"></div>
    </div>

    {% include analysis.html %}
  </body>
</html>
